<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1>Welcome to the Animals Database!</h1>
    <hr />
    <p>Have you wnated an easy way to track all the animals you see at a zoo? Well look no further!</p>

    {% endblock %}
    
    <footer>All Rights Reserved, &copy; 2022 Zoo Animals</footer>
</body>
</html>